#hero {
  background-image: url('../images/banner/bannerNousContacter.jpg');
}
#contact .formBg {
  background-color: #202020;
  border-radius: 1.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  width: 100%;
}
#contact .formBg form {
  width: 90%;
  text-align: center;
  color: #fff;
  margin: 3rem auto;
  border-radius: 1.5rem;
  font-size: 1.4rem;
}
#contact .formBg form h2 {
  padding-top: 2rem;
  font-size: 2rem;
  color: #ed9702;
  font-family: Montserrat Medium;
}
#contact .formBg form label {
  display: block;
  text-align: left;
  margin: 0.7rem 0 0.1rem;
  padding-left: 0rem;
}
#contact .formBg form input {
  width: 100%;
  font-size: 1.2rem;
  height: 3rem;
  border-radius: 0.5rem;
}
#contact .formBg form .row input {
  width: 97%;
}
#contact .formBg form .note {
  margin: 0 0 1rem;
  font-size: 1rem;
}
#contact .formBg form textarea {
  height: 10rem;
  width: 100%;
  resize: none;
  padding: 1rem;
  border-radius: 0.5rem;
}
#contact .horaries {
  background-color: #202020;
  color: #fff;
  margin: 1.5rem auto;
  border-radius: 1.5rem;
  padding-bottom: 0.5rem;
  width: 35rem;
}
#contact .horaries h2 {
  text-align: center;
  padding: 1.5rem;
  color: #ed9702;
  font-family: Montserrat Medium;
  margin: 0rem;
  font-size: 2rem;
}
#contact .horaries ul {
  padding-bottom: 1.5rem;
}
#contact .horaries ul li {
  font-size: 1.3rem;
  list-style-type: none;
  line-height: 2.2rem;
}
#contact .imgDroite {
  border-radius: 1.5rem;
  margin: 3rem auto 0;
  width: 35rem;
}
@media (max-width: 576px) {
  #contact .container {
    padding: 0 ;
  }
  #contact .formBg {
    padding-left: 0;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  #contact .formBg form {
    margin: 0 auto;
    width: 95%;
  }
  #contact .formBg form h2 {
    font-size: 1.6rem;
    margin-top: 0;
  }
  #contact .formBg form label,
  #contact .formBg form input,
  #contact .formBg form textarea {
    font-size: 1.2rem;
  }
  #contact .formBg form .note {
    font-size: 1rem;
  }
  #contact .formBg form input,
  #contact .formBg form textarea {
    height: 2.5rem;
  }
  #contact .formBg form textarea {
    height: 14rem;
  }
  #contact .formBg form button {
    margin-bottom: 1.5rem;
  }
  #contact .horaries {
    padding-left: 0;
    margin-top: 1rem 0rem 0rem;
    width: 100%;
    border-radius: 0;
  }
  #contact .imgDroite {
    width: 100%;
    height: 17rem;
    object-fit: cover;
  }
}
